---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me"
	pubDate={new Date('July 27, 2025')}
	
>
	<p>
		Hello! My name is Allison Chan. I am a current 4th year studying computer science at UCSD.  <br>
		Contact Me: <br>
		allybc1124@gmail.com <br>
		https://www.linkedin.com/in/allison-b-chan
	</p>

	<h3>
		Resume
	</h3>

	<h5>
		Education:
	</h5>
	<p>
		<strong>University of California, San Diego </strong><br>
				B.S. Computer Science <br> <br>
		<strong> De Anza College </strong> <br> 
			Associate Degree for Transfer, Computer Science <br>
	</p>

	<h5>
		Employment:
	</h5>

	<p>
		<strong>CTI-Codeday | Software Engineer Intern </strong>
	<p>
	<p>
	- Collaborated with mentor and team on Storybook, an open source frontend workshop with millions of users, created for developmentation, testing, and documentation of UI components
	<br>
	- Worked on Accessibility Addon blurred border issue due to interaction between CSS method blur() and box-shadow CSS, enhancing accessibility testing accuracy
	<br>
	- Utilized React functions to modify filter applications of components within iframe without impacting iframe border
	<br>
	</p>

	<h5>
		Projects
	</h5>

	<p>
		<strong>NASA Community College Aerospace Scholars | Langley Research Center </strong>
	</p>
	<i> Mission 1: Discover</i>	<br>
		- Conducted Research on different NASA mission directorates	<br>
		- Wrote reflection essays, created mission directorate infographic	<br>
	<i> Mission 2: Exploration Simulation	</i><br>
		- Effectively communicated with team to ensure success for simulated mission under constraints to budget	<br>
		- Appointed as Instrument Engineer, researched current scientific instruments used	<br>
		- Prsented project and researchin front of panel of NASA specialists	<br>
	<i> Mission 3: Capstone Project - E-Waste Drone</i>	<br>
		- Researched current Advanced Air Mobility (AAM) statistics and laws to ensure full regulatory compliance and project alignment with industry standards	<br>
		- Collaborated with engineers and designers to align the E-Waste Drone project with both community needs and NASA’s strategic goals.	<br>
		- Presented the E-Waste Drone as an innovative AAM solution to a panel of NASA employees, demonstrating its potential impact on environmental sustainability.	<br>
	</p>

	<p>
		<strong>Open Source Dashboard | CTI-Codeday SWE Micro-Internship </strong>
	</p>
	- Contributed to Open Energy Dashboard, a project in use by a number of agencies that aims to provide an accessible energy dashboard that can collect, convert, and graph energy data<br>
	- Implemented test case B9, expanded and tested bar graph abilities through kilowatt and mega joules conversions<br>
	- Efficiently learned JavaScript in two weeks to implement mocha and chai testing frameworks<br>
	</p>
        


</Layout>
